<section class="section catalog" id="catalog"></section>
<div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
        <li class="catalog-item">
            <picture>
                <source
                    srcset="./images/catalog/watch1/catalog-watch1-dst-1x.png 1x, ./images/catalog/watch1/catalog-watch1-dst-2x.png 2x"
                    media="(min-width:1280px)">
                <source
                    srcset="./images/catalog/watch1/catalog-watch1-tab-1x.png 1x, ./images/catalog/watch1/catalog-watch1-tab-2x.png 2x"
                    media="(min-width:768px)">
                <source
                    srcset="./images/catalog/watch1/catalog-watch1-mob-1x.png 1x, ./images/catalog/watch1/catalog-watch1-mob-2x.png 2x"
                    media="(max-width:767px)">
                <img src="./images/catalog/watch1/catalog-watch1-dst-1x.png" alt="Garmin Fenix 7X Pro Sapphire Solar"
                    width="292">
            </picture>
            <h3 class="catalog-item-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-item-price">€500</p>
        </li>
        <li class="catalog-item">
            <picture>
                <source
                    srcset="./images/catalog/watch2/catalog-watch2-dst-1x.png 1x, ./images/catalog/watch2/catalog-watch2-dst-2x.png 2x"
                    media="(min-width:1280px)">
                <source
                    srcset="./images/catalog/watch2/catalog-watch2-tab-1x.png 1x, ./images/catalog/watch2/catalog-watch2-tab-2x.png 2x"
                    media="(min-width:768px)">
                <source
                    srcset="./images/catalog/watch2/catalog-watch2-mob-1x.png 1x, ./images/catalog/watch2/catalog-watch2-mob-2x.png 2x"
                    media="(max-width:767px)">
                <img src="./images/catalog/watch2/catalog-watch2-dst-1x.png" alt="Garmin Marq Athlete" width="292">
            </picture>
            <h3 class="catalog-item-name">Garmin Marq Athlete</h3>
            <p class="catalog-item-price">€450</p>
        </li>
        <li class="catalog-item">
            <picture>
                <source
                    srcset="./images/catalog/watch3/catalog-watch3-dst-1x.png 1x, ./images/catalog/watch3/catalog-watch3-dst-2x.png 2x"
                    media="(min-width:1280px)">
                <source
                    srcset="./images/catalog/watch3/catalog-watch3-tab-1x.png 1x, ./images/catalog/watch3/catalog-watch3-tab-2x.png 2x"
                    media="(min-width:768px)">
                <source
                    srcset="./images/catalog/watch3/catalog-watch3-mob-1x.png 1x, ./images/catalog/watch3/catalog-watch3-mob-2x.png 2x"
                    media="(max-width:767px)">
                <img src="./images/catalog/watch3/catalog-watch3-dst-1x.png" alt="Garmin Descent MK1" width="292">
            </picture>
            <h3 class="catalog-item-name">Garmin Descent MK1</h3>
            <p class="catalog-item-price">€680</p>
        </li>
        <li class="catalog-item">
            <picture>
                <source
                    srcset="./images/catalog/watch4/catalog-watch4-dst-1x.png 1x, ./images/catalog/watch4/catalog-watch4-dst-2x.png 2x"
                    media="(min-width:1280px)">
                <source
                    srcset="./images/catalog/watch4/catalog-watch4-tab-1x.png 1x, ./images/catalog/watch4/catalog-watch4-tab-2x.png 2x"
                    media="(min-width:768px)">
                <source
                    srcset="./images/catalog/watch4/catalog-watch4-mob-1x.png 1x, ./images/catalog/watch4/catalog-watch4-mob-2x.png 2x"
                    media="(max-width:767px)">
                <img src="./images/catalog/watch4/catalog-watch4-dst-1x.png" alt="Garmin D2 Delta PX" width="292">
            </picture>
            <h3 class="catalog-item-name">Garmin D2 Delta PX</h3>
            <p class="catalog-item-price">€380</p>
        </li>
        <li class="catalog-item catalog-item-hidden">
            <picture>
                <source
                    srcset="./images/catalog/watch5/catalog-watch5-dst-1x.png 1x, ./images/catalog/watch5/catalog-watch5-dst-2x.png 2x"
                    media="(min-width:1280px)">
                <source
                    srcset="./images/catalog/watch5/catalog-watch5-tab-1x.png 1x, ./images/catalog/watch5/catalog-watch5-tab-2x.png 2x"
                    media="(min-width:768px)">
                <img src="./images/catalog/watch5/catalog-watch5-dst-1x.png" alt="Garmin Fenix 6 Pro Solar" width="292">
            </picture>
            <h3 class="catalog-item-name">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-item-price">€400</p>
        </li>
        <li class="catalog-item catalog-item-hidden">
            <picture>
                <source
                    srcset="./images/catalog/watch6/catalog-watch6-dst-1x.png 1x, ./images/catalog/watch6/catalog-watch6-dst-2x.png 2x"
                    media="(min-width:1280px)">
                <source
                    srcset="./images/catalog/watch6/catalog-watch6-tab-1x.png 1x, ./images/catalog/watch6/catalog-watch6-tab-2x.png 2x"
                    media="(min-width:768px)">
                <img src="./images/catalog/watch6/catalog-watch6-dst-1x.png"
                    alt="Tube Watch S42 Date Steel With Black Case" width="292">
            </picture>
            <h3 class="catalog-item-name">Tube Watch S42 Date Steel With Black Case</h3>
            <p class="catalog-item-price">€395</p>
        </li>
    </ul>
    <button class="catalog-show-more-btn" type="button">Show more</button>
</div>
</section>