<section class="container" id="contact-us">
  <h2 class="cont_us_title">Contact Us</h2>
  <div class="sec_cont_us_cont">

    <form class="form_cont">
      <div class="form-cont_top">
        <p class="cont_us_form_text">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
        <input class="form-input_cont" placeholder="Name" required type="text">
        <input class="form-input_cont" placeholder="email" required type="email">
        <input class="form-input_cont" placeholder="+380" required type="tel">
        <textarea class="form-area_cont" placeholder="Comment"></textarea>
      </div>
      <button type="submit" class="cont_us_form_btn">Send</button>
    </form>

    <picture class="pict_cont_us">
      <source 
        srcset="../images/contact-us/contact-us-img-dst-1x.jpg, ../images/contact-us/contact-us-img-dst-2x.jpg 2x" 
        media="(min-width: 1280px)">
      <source 
        srcset="../images/contact-us/contact-us-img-tab-1x.jpg, ../images/contact-us/contact-us-img-tab-2x.jpg" 
        media="(min-width: 768px)">
      <source 
        srcset="../images/contact-us/contact-us-img-mob-1x.jpg, ../images/contact-us/contact-us-img-mob-1x.jpg" 
        media="(max-width: 767px)">
      <img
        class="contact_us_pict"
        src="../images/contact-us/contact-us-img-tab-1x.jpg"
        alt="Contact Us picture"
        width="704px"
      />
    </picture>
  </div>
</section>