<header class="header">
  <div class="header-container container">
    <nav class="nav">
      <a href="" class="logo">watchcharm</a>
      <ul class="nav-list">
        <!-- nav-list -->

        <li class="nav-item">
          <a href="./index.html" class="nav-list-item">Home </a>
        </li>
        <li class="nav-item">
          <a href="#about-us" class="nav-list-item">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#catalog" class="nav-list-item">Catalog</a>
        </li>
        <li class="nav-item"><a href="#sale" class="nav-list-item">Sale</a></li>
        <li class="nav-item">
          <a href="#reviews" class="nav-list-item">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="#contact-us" class="nav-list-item">Contact Us</a>
        </li>
      </ul>
      <svg width="28" height="14" class="burger-button">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </nav>

    <!-- address -->
    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <a href="https://www.facebook.com/goITclub/" class="address-link">
            <svg height="20" width="20" class="header-sprite">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="address-item">
          <a href="https://www.instagram.com/goitclub/" class="address-link">
            <svg height="20" width="20" class="header-sprite">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="address-item">
          <a href="https://www.youtube.com/c/GoIT" class="address-link">
            <svg height="20" width="20" class="header-sprite">
              <use href="./images/sprite.svg#icon-youTube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
  <!--icon-close icon-burger icon-facebook icon-instagram icon-youTube -->

  <div class="mobile-menu is-open">
    <div class="modal-menu">
      <button type="button" class="modal-button-closewndw">
        <svg height="20" width="20" class="modal-button-closewndw-svg">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <nav class="menu-nav">
        <ul class="menu-list">
          <li class="menu-list-item">
            <a href="./index.html" class="item">Home </a>
          </li>
          <li class="menu-list-item">
            <a href="#about-us" class="item">About Us</a>
          </li>
          <li class="menu-list-item">
            <a href="#catalog" class="item">Catalog</a>
          </li>
          <li class="menu-list-item"><a href="#sale" class="item">Sale</a></li>
          <li class="menu-list-item">
            <a href="#reviews" class="item">Reviews</a>
          </li>
          <li class="menu-list-item">
            <a href="#contact-us" class="item">Contact Us</a>
          </li>
        </ul>
      </nav>
      <address class="address">
        <ul class="menu-address">
          <li class="menu-address-item">
            <a href="https://www.facebook.com/goITclub/" class="menu-link"
              ><svg height="18" width="18" class="header-sprite">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="menu-address-item">
            <a href="https://www.instagram.com/goitclub/" class="menu-link"
              ><svg height="18" width="18" class="header-sprite">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu-address-item">
            <a href="https://www.youtube.com/c/GoIT" class="menu-link"
              ><svg height="18" width="18" class="header-sprite">
                <use href="./images/sprite.svg#icon-youTube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
