
<section class="hero">
    <div class="container">
        <div class="hero-container">
            <div class="hero-box-text">
                <h1 class="hero-title">Welcome to our <span class="hero-title-span">collection</span> of premium watches
                </h1>
                <p class="hero-desription">Our watches are not just timepieces, but also an expression of your
                    personality
                    and lifestyle. From classic designs to
                    modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-box-scroll">
                <picture>
                    <source srcset="./images/hero/people-1x.jpg 1x, ./images/hero/people-2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./images/hero/people-tab-1x.jpg 1x, ./images/hero/people-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/hero/people-mob-1x.jpg 1x, ./images/hero/people-mob-2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="./images/hero/people-1x.jpg" alt="Watch" width="100%">
                </picture>
                <a href="#footer" class="hero-scroll">Scroll down</a>
            </div>
        </div>
        <picture>
            <source srcset="./images/hero/watch-bg-dst-1x.jpg 1x, ./images/hero/watch-bg-dst-2x.jpg 2x"
                media="(min-width: 1280px)">
            <source srcset="./images/hero/watch-bg-tab-1x.jpg 1x, ./images/hero/watch-bg-tab-2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/hero/watch-bg-mob-1x.jpg 1x, ./images/hero/watch-bg-mob-1x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/hero/watch-bg-mob-1x.jpg" alt="Watch" width="100%">
        </picture>
    </div>
</section>
