<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title">Reviews</h2>
    <div class="review-card">
      <ul class="section-reviews-list">
        <li class="section-reviews-item john">
          <picture class="picture-reviews">
            <source
              srcset="
                ./images/reviews/team-images/john-1x-min.png 1x,
                ./images/reviews/team-images/john-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/team-images/john-tab-1x-min.png 1x,
                ./images/reviews/team-images/john-tab-2x-min.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/team-images/john-mobile-1x-min.png 1x,
                ./images/reviews/team-images/john-mobile-2x-min.png 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/reviews/john.png" alt="John Wax" width="56" />
          </picture>
          <h3 class="name-users">John Wax</h3>
          <p class="text-users">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </li>
        <li class="section-reviews-item victoria">
          <picture class="picture-reviews">
            <source
              srcset="
                ./images/reviews/team-images/victoria-1x-min.png 1x,
                ./images/reviews/team-images/victoria-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/team-images/victoria-tab-1x-min.png 1x,
                ./images/reviews/team-images/victoria-tab-2x-min.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/team-images/victoria-mobile-1x-min.png 1x,
                ./images/reviews/team-images/victoria-mobile-2x-min.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/reviews/victoria.png"
              alt="Victoria Romashenko"
              width="56"
            />
          </picture>

          <h3 class="name-users">Victoria Romashenko</h3>
          <p class="text-users">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </li>
        <li class="section-reviews-item anastasia">
          <picture class="picture-reviews">
            <source
              srcset="
                ./images/reviews/team-images/anastasia-1x-min.png 1x,
                ./images/reviews/team-images/anastasia-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/team-images/anastasia-tab-1x-min.png 1x,
                ./images/reviews/team-images/anastasia-tab-2x-min.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/team-images/anastasia-mobile-1x-min.png 1x,
                ./images/reviews/team-images/anastasia-mobile-2x-min.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/reviews/anastasia.png"
              alt="Anastasia Trachuk"
              width="56"
            />
          </picture>

          <h3 class="name-users">Anastasia Trachuk</h3>
          <p class="text-users">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>