<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrapper">
      <ul class="sale-list">
        <li class="sale-items">
          <picture>
            <source
              srcset="./images/sale/sale-dst-tab/sale-small-img1-dst-1x.png 1x, ./images/sale/sale-dst-tab/sale-small-img1-dst-2x.png 2x"
              media="(min-width: 768px)">
            <source
              srcset="./images/sale/sale-mob/sale-small-img1-mob-1x.png 1x, ./images/sale/sale-mob/sale-small-img1-mob-2x.png 2x"
              media="(max-width: 767px)">
            <img class="sale-img" src="./images/sale/sale-dst-tab/sale-small-img1-dst-1x.png" width="96" height="100"
              alt="watches">
          </picture>
        </li>
        <li class="sale-items">
          <picture>
            <source
              srcset="./images/sale/sale-dst-tab/sale-small-img2-dst-1x.png 1x, ./images/sale/sale-dst-tab/sale-small-img2-dst-2x.png 2x"
              media="(min-width: 768px)">
            <source
              srcset="./images/sale/sale-mob/sale-small-img2-mob-1x.png 1x, ./images/sale/sale-mob/sale-small-img2-mob-2x.png 2x"
              media="(max-width: 767px)">
            <img class="sale-img" src="./images/sale/sale-dst-tab/sale-small-img2-dst-1x.png" width="96" height="100"
              alt="watches">
          </picture>
        </li>
        <li class="sale-items">
          <picture>
            <source
              srcset="./images/sale/sale-dst-tab/sale-small-img3-dst-1x.png 1x, ./images/sale/sale-dst-tab/sale-small-img3-dst-2x.png 2x"
              media="(min-width: 768px)">
            <source
              srcset="./images/sale/sale-mob/sale-small-img3-mob-1x.png 1x, ./images/sale/sale-mob/sale-small-img3-mob-2x.png 2x"
              media="(max-width: 767px)">
            <img class="sale-img" src="./images/sale/sale-dst-tab/sale-small-img3-dst-1x.png" width="96" height="100"
              alt="watches">
          </picture>
        </li>
        <li class="sale-items">
          <picture>
            <source
              srcset="./images/sale/sale-dst-tab/sale-small-img4-dst-1x.png 1x, ./images/sale/sale-dst-tab/sale-small-img4-dst-2x.png 2x"
              media="(min-width: 768px)">
            <source
              srcset="./images/sale/sale-mob/sale-small-img4-mob-1x.png 1x, ./images/sale/sale-mob/sale-small-img4-mob-2x.png 2x"
              media="(max-width: 767px)">
            <img class="sale-img" src="./images/sale/sale-dst-tab/sale-small-img4-dst-1x.png" width="96" height="100"
              alt="watches">
          </picture>
        </li>
      </ul>
      <div class="sale-picture">
        <picture>
          <source
            srcset="./images/sale/sale-dst-tab/bigdeckstopandtab@1x.png 1x, ./images/sale/sale-dst-tab/bigdeckstopandtab@2x.png 2x"
            media="(min-width: 768px)">
          <source
            srcset="./images/sale/sale-mob/sale-bigwatch-mob-1x.png 1x, ./images/sale/sale-mob/sale-bigwatch-mob-2x.png 2x"
            media="(max-width: 767px)">
          <img class="sale-bigimg" src="./images/sale/sale-dst-tab/bigdeckstopandtab@1x.png" width="328" height="398"
            alt="watches">
        </picture>
      </div>
      <div class="sale-box">
        <div class="sale-inner">
          <div class="sale-box-inner">
            <h3 class="sale-box-title">
              MARQ® Commander (Gen 2) - Carbon Edition
            </h3>
            <p class="sale-text">Product Tag: 706889</p>
          </div>
          <div class="sale-price-box">
            <p class="sale-price">€1500</p>
            <p class="sale-price-sub">€3000</p>
          </div>
          <p class="sale-box-text">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to
            the next level. The body of the watch is made of very durable
            Fused Carbon Fiber material and has a precise AMOLED touch
            screen. The sensitive touch screen is complemented by buttons
            that can be used in any conditions.
          </p>
          <ul class="sale-tag-list">
            <li class="sale-text-item">
              <a href="#" class="sale-link">Fused carbon fiber</a>
            </li>
            <li class="sale-text-item">
              <a href="#" class="sale-link">Grade 5 Titanium</a>
            </li>
            <li class="sale-text-item">
              <a href="#" class="sale-link">Athlete</a>
            </li>
            <li class="sale-text-item">
              <a href="#" class="sale-link">Golfer</a>
            </li>
            <li class="sale-text-item">
              <a href="#" class="sale-link">Commander</a>
            </li>
            <li class="sale-text-item">
              <a href="#" class="sale-link">Adventure</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>