.ad-section {
  /* margin-top: 60px; */
  padding: 60px 28px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(12, 12, 12, 0.7),
    rgba(12, 12, 12, 0.7)
  );
  /* url("./path/to/image"); */
}

.ad-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}
.ad-text-piece {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
.ad-link-span {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.15);
  width: 160px;
  border-radius: 16px;
  text-align: center;
  background-color: transparent;
  padding: 15px 0;
}
.ad-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}
