.hero {
    padding-top: 60px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-bottom: 28px;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0C0C0C;
    margin-bottom: 20px;
}

.hero-title-span {
    color: #3350E9;
}

.hero-desription {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.hero-box-scroll {
    display: flex;
    align-items: flex-end;
}

.hero-scroll {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover,
.hero-scroll:focus {
    color: #3350e9;
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 80px;
        /* margin-top: 80px;
        margin-bottom: 80px; */
    }

    .hero-container {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .hero-box-text {
        width: 557px;
    }

    .hero-title {
        font-size: 70px;
        line-height: 0.86;
    }

    .hero-desription {
        font-size: 16px;
        line-height: 1.25;
        width: 480px;
    }

    .hero-box-scroll {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-scroll {
        font-size: 20px;
        line-height: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-box-text {
        width: 597px;
    }
}